<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container"> 
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a sec:authorize="isAuthenticated()" class="navbar-brand" href="#" th:href="@{/}"><span th:text="#{home}" th:remove="tag"></span></a>
                    <a sec:authorize="!isAuthenticated()" class="navbar-brand" href="#" th:href="@{/login}"><span th:text="#{login}" th:remove="tag"></span> </a>
                    <a sec:authorize="!isAuthenticated()" class="navbar-brand" href="#" th:href="@{/user/new}"><span th:text="#{save.user}" th:remove="tag"></span> </a>
                    <a sec:authorize="isAuthenticated()" class="navbar-brand" href="#" th:href="@{/todo/new}"><span th:text="#{save.todo}" th:remove="tag"></span> </a>
                    <a sec:authorize="isAuthenticated()" class="navbar-brand" href="#" th:href="@{/logout}"><span th:text="#{logout}" th:remove="tag"></span> </a>
                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>IYZICO</h2>

                    <h3>TODO Example Project</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>